<header>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>CouchDB - Query Explorer</h2>
          
        </div>
        <div class="col right">
          <div class="text-right">
              <!-- <a mat-icon-button href="https://github.com/fahadmaq007/couchdb-query-builder" target="_blank">
                <span class="fab fa-refresh fa-github fontsize18" aria-hidden="true"></span>
              </a> -->
            <button mat-icon-button routerLink="query">
              <span class="fas fa-database fontsize18" aria-hidden="true"></span>
            </button>
            <button mat-icon-button routerLink="setting">
              <span class="fas fa-cog fontsize18" aria-hidden="true"></span>
            </button>  
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
