<div class="margin">
  <div class="row">
    <div class="col">
      <h2>Settings</h2>
    </div>
  </div>
  <div class="row">  
    <div class="col">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Import Settings (Key in JSON data and hit Enter)" matTooltip="Key in JSON format and hit Enter"
          [(ngModel)]="importSettingText" (keyup.enter)="import()">
          <button mat-button *ngIf="importSettingText" matSuffix mat-icon-button aria-label="Clear" (click)="importSettingText=undefined">
            <i class="fas fa-times"></i>
          </button>
        </textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 col-sm-12 col-12 mb-3">
      <mat-card class="fields-card">
        <mat-card-content>
          <section class="section">
            <h3>Commons</h3>
            <div class="row">
              <div class="col col-md-6 col-sm-12 col-12">
                <mat-form-field class="full-width">
                  <input matInput placeholder="CouchDB URL (Key in CouchDB url & hit Enter)" matTooltip="Eg. http://localhost:5984"
                    [(ngModel)]="metadata.couchUrl" (keyup.enter)="saveSettings()">
                  <button mat-button *ngIf="metadata.couchUrl" matSuffix mat-icon-button aria-label="Clear" (click)="metadata.couchUrl=undefined">
                    <i class="fas fa-times"></i>
                  </button>
                </mat-form-field>
              </div>

              <div class="col col-md-6 col-sm-12 col-12">
                  <mat-slide-toggle [ngModel]="metadata.showUnderscoreDbs" labelPosition="before">Show Underscore Database</mat-slide-toggle>
              </div>
            </div>
          </section>
          <section class="section">
              <h4>Fields</h4><h6>These fields will be shown in the <a routerLink="">query table</a></h6>
              <span class="component-group" *ngFor="let field of metadata.fields; index as i;">
                <mat-form-field *ngIf="selectedField == field">
                  <input matInput type="text" placeholder="Field" [(ngModel)]="selectedField" (keyup.enter)="metadata.fields[i] = selectedField; selectedField =undefined">
                </mat-form-field>
                <a routerLink="." *ngIf="selectedField != field" (click)="selectedField = field">
                  <span>{{field}}</span>
                </a>
              </span>

              <mat-form-field class="field">
                <input matInput type="text" placeholder="New field" [(ngModel)]="newField" (keyup.enter)="addNewField()">
                <button mat-button *ngIf="newField" matSuffix mat-icon-button aria-label="Clear" (click)="newField=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <a routerLink="." class="field" (click)="addNewField()">
                + Add Field
              </a>
          </section>
          <section class="section">
              <h4>Filters</h4><h6>These filters will be shown in the <a routerLink="">query table</a></h6>
              <span *ngFor="let filter of metadata.filters" class="component-group">
                <a routerLink="." (click)="openFilterDialog(filter)" class="">
                  <span *ngIf="filter.name">{{filter.name}}</span>
                  <span *ngIf="! filter.name">{{filter.field | uppercase }} {{metadata.operations[filter.operation]}}
                    {{filter.value}}</span>
                </a>
              </span>

              <span class="field">
                <a routerLink="." (click)="addNewFilter()">
                  + Add Filter
                </a>
              </span>
          </section>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col col-md-6 col-sm-12 col-12 mb-3">
        <mat-card class="fields-card">
            <mat-card-content>
              <section class="section">
                <h3>Database Specific</h3>
                <div class="row">
                  <div class="col col-md-6 col-sm-12 col-12">
                    <mat-form-field class="full-width">
                      <mat-label>Database: </mat-label>
                      <mat-select matNativeControl [(value)]="selectedDb" (change)="onDbChange()" color="accent">
                        <mat-option *ngFor="let db of dbs" [value]="db">
                          {{db}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
    
                  <div class="col col-md-6 col-sm-12 col-12">
                      
                  </div>
                </div>
              </section>
              <section class="section">
                  <h4>Fields</h4><h6>These fields will be shown in the <a routerLink="">query table</a></h6>
                  <span class="component-group" *ngFor="let field of metadata.fields; index as i;">
                    <mat-form-field *ngIf="selectedField == field">
                      <input matInput type="text" placeholder="Field" [(ngModel)]="selectedField" (keyup.enter)="metadata.fields[i] = selectedField; selectedField =undefined">
                    </mat-form-field>
                    <a routerLink="." *ngIf="selectedField != field" (click)="selectedField = field">
                      <span>{{field}}</span>
                    </a>
                  </span>
    
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="New field" [(ngModel)]="newField" (keyup.enter)="addNewField()">
                    <button mat-button *ngIf="newField" matSuffix mat-icon-button aria-label="Clear" (click)="newField=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                  <a routerLink="." class="field" (click)="addNewField()">
                    + Add Field
                  </a>
              </section>
              <section class="section">
                  <h4>Filters</h4><h6>These filters will be shown in the <a routerLink="">query table</a></h6>
                  <span *ngFor="let filter of metadata.filters" class="component-group">
                    <a routerLink="." (click)="openFilterDialog(filter)" class="">
                      <span *ngIf="filter.name">{{filter.name}}</span>
                      <span *ngIf="! filter.name">{{filter.field | uppercase }} {{metadata.operations[filter.operation]}}
                        {{filter.value}}</span>
                    </a>
                  </span>
    
                  <span class="field">
                    <a routerLink="." (click)="addNewFilter()">
                      + Add Filter
                    </a>
                  </span>
              </section>
            </mat-card-content>
          </mat-card>


    </div>
  </div>


  <div class="margin"></div>
  <!-- 
  <mat-card class="fields-card">
    <mat-card-header>
      <mat-card-title>Fields</mat-card-title>
      <mat-card-subtitle>These fields will be shown in the <a routerLink="">query table</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="component-group" *ngFor="let field of metadata.fields; index as i;">
          <mat-form-field *ngIf="selectedField == field">
            <input matInput type="text" placeholder="Field" [(ngModel)]="selectedField" (keyup.enter)="metadata.fields[i] = selectedField; selectedField =undefined">
          </mat-form-field>
          <a routerLink="." *ngIf="selectedField != field" (click)="selectedField = field">
            <span>{{field}}</span>
          </a>
      </span>
        
      <mat-form-field class="field">
        <input matInput type="text" placeholder="New field" [(ngModel)]="newField" (keyup.enter)="addNewField()">
        <button mat-button *ngIf="newField" matSuffix mat-icon-button aria-label="Clear" (click)="newField=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <a routerLink="." class="field" (click)="addNewField()">
          + Add Field
      </a>
    </mat-card-content>
  </mat-card>

  <div class="margin"></div> -->


  <div class="margin"></div>

  <div class="row">
    <div class="col">
      <div class="right">
        <button mat-raised-button color="primary" aria-label="Export Settings" (click)="export()">
          Export Settings
        </button>
      </div>
    </div>
  </div>
</div>