<div class="margin">
  <div class="row">
    <div class="col">
      <h2>Settings</h2>
    </div>
  </div>
  <div class="row">  
    <div class="col">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Import Settings (Key in JSON data and hit Enter)" matTooltip="Key in JSON format and hit Enter"
          [(ngModel)]="importSettingText" (keyup.enter)="import()">
          <button mat-button *ngIf="importSettingText" matSuffix mat-icon-button aria-label="Clear" (click)="importSettingText=undefined">
            <i class="fas fa-times ml-1"></i>
          </button>
        </textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 col-sm-12 col-12 mb-3">
      <mat-card class="fields-card">
        <mat-card-content>
          <section class="section">
            <h3>Commons</h3>
            <div class="row">
              <div class="col col-md-6 col-sm-12 col-12">
                <mat-form-field class="full-width">
                  <input matInput placeholder="CouchDB URL (Key in CouchDB url & hit Enter)" matTooltip="Eg. http://localhost:5984"
                    [(ngModel)]="metadata.couchUrl" (keyup.enter)="saveSettings()">
                  <button mat-button *ngIf="metadata.couchUrl" matSuffix mat-icon-button aria-label="Clear" (click)="metadata.couchUrl=undefined">
                    <i class="fas fa-times ml-1"></i>
                  </button>
                </mat-form-field>
              </div>

              <div class="col col-md-6 col-sm-12 col-12">
                  <mat-slide-toggle [(ngModel)]="metadata.includeUnderscoreDbs" (change)="onUnderscoreDbConfChanged()" labelPosition="before">Include Underscore Database</mat-slide-toggle>
              </div>
            </div>
          </section>
          <section class="section">
              <h4>Fields</h4><h6>These fields will be shown in the <a routerLink="">query table</a></h6>
              <span class="component-group" *ngFor="let field of metadata.fields; index as i;">
                <span>{{field}}</span>
                <a routerLink="." aria-label="Delete" (click)="delete(metadata.fields, field)">
                  <i class="fas fa-times ml-1"></i>
                </a>
              </span>

              <mat-form-field class="field">
                <input matInput type="text" placeholder="New field" [(ngModel)]="newField" (keyup.enter)="addNewField(metadata, newField); newField = ''">
              </mat-form-field>
              <!-- <a routerLink="." class="field" (click)="addNewField(metadata.fields)">
                + Add Field
              </a> -->
          </section>
          <section class="section mb-3"><!-- Filters-->
              <h4>Filters</h4><h6>These filters will be shown in the <a routerLink="">query table</a></h6>
              <span *ngFor="let filter of metadata.filters" class="component-group">
                <a routerLink="." matTooltip="Click to edit" (click)="openFilterDialog(metadata, filter)" class="">
                  <span *ngIf="filter.name">{{filter.name}}</span>
                  <span *ngIf="! filter.name">{{filter.field }} {{metadata.operations[filter.operation]}}
                    {{filter.value}}</span>
                </a>
                <a routerLink="." aria-label="Delete" (click)="delete(metadata.filters, filter)">
                  <i class="fas fa-times ml-1"></i>
                </a>
              </span>

              <span class="field">
                <a routerLink="." (click)="addNewFilter(metadata)">
                  + Add Filter
                </a>
              </span>
          </section>

          <section class="section"> <!-- Custom DB Names-->
              <h4>Custom Database Names</h4><h6>Provide custom names to the databases</h6>
              
              <div *ngFor="let db of dbs">
                <mat-form-field class="full-width" *ngIf="metadata[db]">
                    <mat-label>{{db}} </mat-label>
                    <input matInput type="text" placeholder="Custom name" [(ngModel)]="metadata[db].name" (keyup.enter)="storeSettings(this.metadata)">                
                  </mat-form-field>
              </div>
              <!-- <mat-paginator #paginator [length]="dbs.length" [pageSizeOptions]="[3, 5]"></mat-paginator> -->
          </section>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col col-md-6 col-sm-12 col-12 mb-3">
        <mat-card class="fields-card">
            <mat-card-content>
              <section class="section">
                <h3>Database Specific</h3>
                <div class="row">
                  <div class="col col-md-6 col-sm-12 col-12">
                    <mat-form-field class="full-width">
                      <mat-label>Database: </mat-label>
                      <mat-select matNativeControl [(ngModel)]="metadata.selectedDb" (selectionChange)="onDbChange()" color="accent">
                        <mat-option *ngFor="let db of dbs" [value]="db">
                          <span *ngIf="metadata[db] && metadata[db].name">{{metadata[db].name}}</span>
                          <span *ngIf="!metadata[db] || !metadata[db].name">{{db}}</span>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </section>
              <section class="section" *ngIf="metadata[metadata.selectedDb]">
                  <h4>Fields</h4><h6>These fields are specific to the selected database, will be shown in the <a routerLink="">query table</a></h6>
                  <span class="component-group" *ngFor="let field of metadata[metadata.selectedDb].fields; index as i;">
                    <span>{{field}}</span>
                    <a routerLink="." aria-label="Delete" (click)="delete(metadata[metadata.selectedDb].fields, field)">
                      <i class="fas fa-times ml-1"></i>
                    </a>
                  </span>
    
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="New field" [(ngModel)]="newDbField" (keyup.enter)="addNewField(metadata[metadata.selectedDb], newDbField); newDbField = ''">  
                  </mat-form-field>
                  <!-- <a routerLink="." class="field" (click)="addNewField(metadata[metadata.selectedDb].fields)">
                    + Add Field
                  </a> -->
              </section>
              <section class="section" *ngIf="metadata[metadata.selectedDb]">
                  <h4>Filters</h4><h6>These filters are specific to the selected database, will be shown in the <a routerLink="">query table</a></h6>
                  <span *ngFor="let filter of metadata[metadata.selectedDb].filters" class="component-group">
                    <a routerLink="." matTooltip="Click to edit" (click)="openFilterDialog(metadata[metadata.selectedDb], filter)" class="">
                      <span *ngIf="filter.name">{{filter.name}}</span>
                      <span *ngIf="! filter.name">{{filter.field }} {{metadata.operations[filter.operation]}}
                        {{filter.value}}</span>
                    </a>
                    <a routerLink="." aria-label="Delete" (click)="delete(metadata[metadata.selectedDb].filters, filter)">
                      <i class="fas fa-times ml-1"></i>
                    </a>
                  </span>
    
                  <span class="field">
                    <a routerLink="." (click)="addNewFilter(metadata[metadata.selectedDb])">
                      + Add Filter
                    </a>
                  </span>
              </section>
            </mat-card-content>
          </mat-card>


    </div>
  </div>

  <div class="margin"></div>

  <div class="row">
    <div class="col">
      <div class="right">
        <button mat-raised-button color="primary" aria-label="Export Settings" (click)="export()">
          Export Settings
        </button>
      </div>
    </div>
  </div>
</div>