$green: rgba(2, 184, 117, 1);
$anchor-color: #007bff;
$primary: #563d7c;
$primary-hover: #352053;
$text-color: #6c757d;
$header-text-color: #cbbde2;
$accent: #ffe484;
// IMPORTS

// - VENDORS
@import './vendors/normalize';

// - BASIC
// @import './basic/main';

// - LOADING
@import './basic/loading';


// - Angular material theme
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.mat-raised-button.mat-primary {
  background-color: $primary;
}
.mat-raised-button.mat-primary:hover {
  background-color:  $accent;
  border-color: $accent; 
  color: $primary;
}
* {
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-y: auto;
}
.fontsize18 {
  font-size: 18px;
}

a, .cp {
  cursor: pointer;
  color: $text-color;
}
a:hover {
  color: $primary;
}
.header {
  background: $primary !important;
}

.section-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  padding: 1em 0 0;
}

.flex-spacer {
  flex-grow: 1;
}

.progress-spinner {
  height: 60px !important;
  margin: 2em auto;
}

snack-bar-container {
  background: $primary !important;
}
.mat-table {
  overflow: auto;
  max-height: 450px;
}
.mat-column-select {
  overflow: initial;
}
.mat-cell, .mat-header-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.mat-raised-button[disabled] {
  background: #bbb !important;
}

.mat-dialog-header {
  margin: 0px -24px;
}
.mat-dialog-title {
  text-align: center;
}
.mat-dialog-container {
  padding: 0px 20px 20px 20px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.right {
  float: right;
}

.padding {
  padding: 8px 16px;
}
.padding2 {
  padding: 2px;
}
.margin {
  margin: 8px 16px;
}
.round-border {
  border-radius: 3px;
}

.mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
  top: 3px;
}
.flex-end {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.field {
  font-size: 11px;
}
.vcenter {
  justify-items: center;
  align-items: center;
}
.component-group {
  border: 1px solid $primary;
  border-radius: 2px;
  font-size: 12px;
  padding: 5px;
  margin-right: 3px;
  margin-bottom: 3px;
  display: inline-block;
}
.filter-wrapper {
  width: 100%;
}
.filter-wrapper input {
  border: 0px;
  border-bottom: 1px solid #666; 
}
.filter-component > a {
  color: $text-color;
}

.fields {
  font-size: 12px;
}
._id, .select {
flex: 0 0 40px !important;
}
.type {
flex: 0 0 100px !important;
}
.nav-container {
  width: 100%;
  height: 100%;
}

.sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidenav {
  /* padding: 20px; */
  width: 300px;
  height: 100%;
}
.button-text {
  text-align: left !important;
  padding: 1px !important;
  margin: 1px !important;
}
.copy:hover {
  color: $primary !important;
}
.full-width {
  min-width: 150px;
  width:100%;
}
.content-card {
  padding: 0px !important;
}